.hero-html {
  --size: 12rem;

  font-size: var(--size);
  justify-content: center;
  line-height: var(--size);
}

.diagram-showcase {
  border: 1px solid var(--sl-color-gray-5);
  border-bottom: 0;

  img {
    width: 100%;
  }
}

.sl-markdown-content .diagram-showcase-code {
  margin-top: 0;
}
